bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea

**/private.pem

PetIdServer.RestApi/appsettings.json
PetIdServer.RestApi/appsettings.Development.json

PetIdServer.AppHost/appsettings.json
PetIdServer.AppHost/appsettings.Development.json

PetIdServer.MigrationService/appsettings.json
PetIdServer.MigrationService/appsettings.Development.json

**/.DS_Store
