JWT_AT_TOKEN="secret"
JWT_AT_TTL="2 minutes"
JWT_AT_TTL_MANAGER="10 minutes"

JWT_RT_TOKEN="secret"
JWT_RT_TTL="90 days"
JWT_RT_TTL_MANAGER="0"

JWT_ISSUER="url"
JWT_AUDIENCE="app_id"

REQ_SECURITY_KEY="secret"

DATABASE_CONNECTION_STRING="PetIdPostgresDb"
